USE [master]
GO
/****** Objeto: Database [RankingCanciones] Fecha de script: 3/10/2026 13:51:12 ******/
CREATE DATABASE [RankingCanciones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RankingCanciones', FILENAME = N'C:\Users\julian\RankingCanciones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RankingCanciones_log', FILENAME = N'C:\Users\julian\RankingCanciones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RankingCanciones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RankingCanciones]
GO
/****** Objeto: Table [dbo].[Canciones] Fecha de script: 3/10/2026 13:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CobrosInterpretaciones] Fecha de script: 3/10/2026 13:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CobrosInterpretaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idInterprete] [int] NOT NULL,
	[idCancion] [int] NOT NULL,
	[fecha] [date] NULL,
	[montoCobrado] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Interpretes] Fecha de script: 3/10/2026 13:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interpretes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Canciones] ON 

INSERT [dbo].[Canciones] ([id], [nombre], [fecha]) VALUES (1, N'De Música Ligera', CAST(N'1990-09-07' AS Date))
INSERT [dbo].[Canciones] ([id], [nombre], [fecha]) VALUES (2, N'Bajan', CAST(N'1973-10-01' AS Date))
INSERT [dbo].[Canciones] ([id], [nombre], [fecha]) VALUES (3, N'Demoliendo Hoteles', CAST(N'1984-12-01' AS Date))
SET IDENTITY_INSERT [dbo].[Canciones] OFF
GO
SET IDENTITY_INSERT [dbo].[CobrosInterpretaciones] ON 

INSERT [dbo].[CobrosInterpretaciones] ([id], [idInterprete], [idCancion], [fecha], [montoCobrado]) VALUES (1, 1, 1, CAST(N'2026-09-01' AS Date), CAST(250000.00 AS Decimal(15, 2)))
INSERT [dbo].[CobrosInterpretaciones] ([id], [idInterprete], [idCancion], [fecha], [montoCobrado]) VALUES (2, 4, 1, CAST(N'2026-09-02' AS Date), CAST(120000.00 AS Decimal(15, 2)))
INSERT [dbo].[CobrosInterpretaciones] ([id], [idInterprete], [idCancion], [fecha], [montoCobrado]) VALUES (3, 2, 2, CAST(N'2026-09-03' AS Date), CAST(180000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[CobrosInterpretaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Interpretes] ON 

INSERT [dbo].[Interpretes] ([id], [apellido], [nombre]) VALUES (1, N'Cerati', N'Gustavo')
INSERT [dbo].[Interpretes] ([id], [apellido], [nombre]) VALUES (2, N'Spinetta', N'Luis Alberto')
INSERT [dbo].[Interpretes] ([id], [apellido], [nombre]) VALUES (3, N'García', N'Charly')
SET IDENTITY_INSERT [dbo].[Interpretes] OFF
GO
ALTER TABLE [dbo].[CobrosInterpretaciones]  WITH CHECK ADD FOREIGN KEY([idCancion])
REFERENCES [dbo].[Canciones] ([id])
GO
ALTER TABLE [dbo].[CobrosInterpretaciones]  WITH CHECK ADD FOREIGN KEY([idInterprete])
REFERENCES [dbo].[Interpretes] ([id])
GO
USE [master]
GO
